@media (max-width: 1800px){
  .main__img_left, .main__img_right{
    display: none;
  }
  .heading{
    background-image: none;
  }
}

@media (max-width: 1561px){
  .header__item_right{
    display: none;
  }
  .section__main-description{
    padding-top: 50px;
  }
  .header{
    padding: 20px 0 10px 0px;
  }
  .heading{
    padding-top: 120px;
  }
  .block-form{
    background-image: none;
    padding: 60px 50px;
  }
  .header__container{
    justify-content: center;
  }
  .header__nav{
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 800px){
  .header__nav{
    justify-content: space-around;
    flex-direction: column;
  }

  .header__logo{
    padding: 0;
  }
  .main__form, .footer{
    padding-top: 40px;
  }
  .footer__description{
    padding: 35px 0 20px 0;
  }
}

@media (max-width: 680px){
  .btn__main{
    width: auto;
    padding: 0 150px;
    margin-top: 80px;
  }
}

@media (max-width: 530px){
  .footer__description{
    flex-direction: column-reverse;
    position: relative;
    padding: 54px 0 35px 0;
  }
  .footer__block:not(:last-child){
    margin-top: 10px;
  }
  .footer__link{
    position: absolute;
  }
  .footer__link_one{
    bottom: 0;
    left: 0;
  }
  .footer__link_two{
    bottom: 0;
  }
  .footer__link_three{
    bottom: 0;
    right: 0;
  }
  .header__nav{
    flex-direction: column;
  }
  .header__item{
    margin-top: 20px;
  }

  .header__heading{
    font-size: 60px;
    margin-bottom: 20px;
  }
  .header__heading-description{
    font-size: 26px;
    margin-bottom: 35px;
  }
  .btn__header{
    font-size: 20px;
    padding: 18px 70px;
  }
  .btn__main{
    height: 60px;
    padding: 0 100px;
  }
  .form__title{
    font-size: 35px;
    margin-bottom: 25px;
  }
  .main-description{
    min-height: 530px;
  }
  .btn__form{
    font-size: 17px;
    padding: 16px 0;
  }
  .content__item p{
    font-size: 16px;
  }
  .text-svg img, .text-svg{
    width: 48px;
    height: 37px;
  }
  .main__item p{
    font-size: 16px;
  }
  .price{
    font-size: 30px;
  }
  .block-form{
    padding: 20px 15px;
  }
}

@media (max-width: 350px){
.footer__nav{
  flex-direction: column;
  align-items: center;
}
.header__link:not(:last-child){
  margin: 0;
}
.footer__nav .header__link{
  margin-bottom: 5px;
}
.btn__form{
  font-size: 14px;
}
.checkbox{
  font-size: 16px;
}
#name, #email{
  padding: 10px 20px;
  font-size: 17px;
}
}